<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<footer class="footer" th:fragment="footer">
    <div class="footer-content-wrapper">
        <div class="footer-logo">
            <img src="/images/logo.png" alt="Logo" class="logo-image">
        </div>
        <div class="footer-nav">
            <a href="/make-appointment" class="footer-btn">Make an Appointment</a>
            <a href="/appointment" class="footer-btn">My Appointments</a>
            <a sec:authorize="isAnonymous()" href="/login" class="footer-btn">Login</a>
        </div>
        <div class="footer-contact">
            <p>Contacts:</p>
            <p>🌍 Sofia, zhk. Iztok 148</p>
            <p>📞 +0888888888</p>
        </div>
    </div>
    <div class="text-center mt-3">
        <div class="footer-background footer-text">
            &copy; Tsonev team 2024. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>